<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="xaracterEquippedWeapon">
      <h2 data-cy="xaracterEquippedWeaponDetailsHeading">
        <span jhiTranslate="gatewayApp.xaracterEquippedWeapon.detail.title">Xaracter Equipped Weapon</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ xaracterEquippedWeapon.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracterEquippedWeapon.xaracterId">Xaracter Id</span></dt>
        <dd>
          <span>{{ xaracterEquippedWeapon.xaracterId }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracterEquippedWeapon.hand">Hand</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayApp.Handedness.' + xaracterEquippedWeapon.hand }}">{{ xaracterEquippedWeapon.hand }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracterEquippedWeapon.weaponId">Weapon Id</span></dt>
        <dd>
          <div *ngIf="xaracterEquippedWeapon.weaponId">
            <a [routerLink]="['/weapon', xaracterEquippedWeapon.weaponId?.id, 'view']">{{ xaracterEquippedWeapon.weaponId?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/xaracter-equipped-weapon', xaracterEquippedWeapon.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
