<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="weapon">
      <h2 data-cy="weaponDetailsHeading"><span jhiTranslate="gatewayApp.weapon.detail.title">Weapon</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ weapon.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.weapon.name">Name</span></dt>
        <dd>
          <span>{{ weapon.name }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.weapon.description">Description</span></dt>
        <dd>
          <span>{{ weapon.description }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.weapon.weight">Weight</span></dt>
        <dd>
          <span>{{ weapon.weight }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.weapon.quality">Quality</span></dt>
        <dd>
          <span>{{ weapon.quality }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.weapon.picture">Picture</span></dt>
        <dd>
          <div *ngIf="weapon.picture">
            <a (click)="openFile(weapon.picture, weapon.pictureContentType)">
              <img [src]="'data:' + weapon.pictureContentType + ';base64,' + weapon.picture" style="max-width: 100%" alt="weapon image" />
            </a>
            {{ weapon.pictureContentType }}, {{ byteSize(weapon.picture) }}
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.weapon.reach">Reach</span></dt>
        <dd>
          <span>{{ weapon.reach }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.weapon.baseDamage">Base Damage</span></dt>
        <dd>
          <span>{{ weapon.baseDamage }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.weapon.requiredST">Required ST</span></dt>
        <dd>
          <span>{{ weapon.requiredST }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.weapon.damageModifier">Damage Modifier</span></dt>
        <dd>
          <span>{{ weapon.damageModifier }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.weapon.campaign">Campaign</span></dt>
        <dd>
          <div *ngIf="weapon.campaign">
            <a [routerLink]="['/campaign', weapon.campaign?.id, 'view']">{{ weapon.campaign?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.weapon.character">Character</span></dt>
        <dd>
          <div *ngIf="weapon.character">
            <a [routerLink]="['/character', weapon.character?.id, 'view']">{{ weapon.character?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/weapon', weapon.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
