<div>
  <h2 id="page-heading" data-cy="CharacterSkillHeading">
    <span jhiTranslate="gatewayApp.characterSkill.home.title">Character Skills</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.characterSkill.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-character-skill"
        [routerLink]="['/character-skill/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.characterSkill.home.createLabel"> Create a new Character Skill </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="characterSkills?.length === 0">
    <span jhiTranslate="gatewayApp.characterSkill.home.notFound">No characterSkills found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="characterSkills && characterSkills.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="points">
            <span jhiTranslate="gatewayApp.characterSkill.points">Points</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="skillModifier">
            <span jhiTranslate="gatewayApp.characterSkill.skillModifier">Skill Modifier</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="character.name">
            <span jhiTranslate="gatewayApp.characterSkill.character">Character</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="skill.name">
            <span jhiTranslate="gatewayApp.characterSkill.skill">Skill</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let characterSkill of characterSkills; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/character-skill', characterSkill.id, 'view']">{{ characterSkill.id }}</a>
          </td>
          <td>{{ characterSkill.points }}</td>
          <td>{{ characterSkill.skillModifier }}</td>
          <td>
            <div *ngIf="characterSkill.character">
              <a [routerLink]="['/character', characterSkill.character?.id, 'view']">{{ characterSkill.character?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="characterSkill.skill">
              <a [routerLink]="['/skill', characterSkill.skill?.id, 'view']">{{ characterSkill.skill?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/character-skill', characterSkill.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/character-skill', characterSkill.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(characterSkill)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="characterSkills && characterSkills.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
