<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="defaultSkillOrAtribute">
      <h2 data-cy="defaultSkillOrAtributeDetailsHeading">
        <span jhiTranslate="gatewayApp.defaultSkillOrAtribute.detail.title">Default Skill Or Atribute</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ defaultSkillOrAtribute.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.defaultSkillOrAtribute.name">Name</span></dt>
        <dd>
          <span>{{ defaultSkillOrAtribute.name }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.defaultSkillOrAtribute.modifier">Modifier</span></dt>
        <dd>
          <span>{{ defaultSkillOrAtribute.modifier }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.defaultSkillOrAtribute.skillId">Skill Id</span></dt>
        <dd>
          <div *ngIf="defaultSkillOrAtribute.skillId">
            <a [routerLink]="['/skill', defaultSkillOrAtribute.skillId?.id, 'view']">{{ defaultSkillOrAtribute.skillId?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/default-skill-or-atribute', defaultSkillOrAtribute.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
