<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-character-equipped-armor-heading"
        data-cy="CharacterEquippedArmorCreateUpdateHeading"
        jhiTranslate="gatewayApp.characterEquippedArmor.home.createOrEditLabel"
      >
        Create or edit a Character Equipped Armor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.characterEquippedArmor.characterId" for="field_characterId"
            >Character Id</label
          >
          <input
            type="number"
            class="form-control"
            name="characterId"
            id="field_characterId"
            data-cy="characterId"
            formControlName="characterId"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.characterEquippedArmor.armorPiece" for="field_armorPiece"
            >Armor Piece</label
          >
          <select class="form-control" id="field_armorPiece" data-cy="armorPiece" name="armorPiece" formControlName="armorPiece">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                armorPieceOption.id === editForm.get('armorPiece')!.value?.id ? editForm.get('armorPiece')!.value : armorPieceOption
              "
              *ngFor="let armorPieceOption of armorPiecesSharedCollection; trackBy: trackArmorPieceById"
            >
              {{ armorPieceOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
