<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-campaign-heading" data-cy="CampaignCreateUpdateHeading" jhiTranslate="gatewayApp.campaign.home.createOrEditLabel">
        Create or edit a Campaign
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.campaign.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.campaign.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.campaign.map" for="field_map">Map</label>
          <div>
            <img
              [src]="'data:' + editForm.get('mapContentType')!.value + ';base64,' + editForm.get('map')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('map')!.value"
              alt="campaign image"
            />
            <div *ngIf="editForm.get('map')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('mapContentType')!.value }}, {{ byteSize(editForm.get('map')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('map', 'mapContentType', 'file_map')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_map"
              data-cy="map"
              (change)="setFileData($event, 'map', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="map" id="field_map" data-cy="map" formControlName="map" />
          <input type="hidden" class="form-control" name="mapContentType" id="field_mapContentType" formControlName="mapContentType" />
          <div *ngIf="editForm.get('map')!.invalid && (editForm.get('map')!.dirty || editForm.get('map')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('map')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.campaign.masterId" for="field_masterId">Master Id</label>
          <input type="number" class="form-control" name="masterId" id="field_masterId" data-cy="masterId" formControlName="masterId" />
          <div *ngIf="editForm.get('masterId')!.invalid && (editForm.get('masterId')!.dirty || editForm.get('masterId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('masterId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('masterId')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
