<div>
  <h2 id="page-heading" data-cy="ArmorPieceHeading">
    <span jhiTranslate="gatewayApp.armorPiece.home.title">Armor Pieces</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.armorPiece.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-armor-piece"
        [routerLink]="['/armor-piece/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.armorPiece.home.createLabel"> Create a new Armor Piece </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="armorPieces?.length === 0">
    <span jhiTranslate="gatewayApp.armorPiece.home.notFound">No armorPieces found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="armorPieces && armorPieces.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="gatewayApp.armorPiece.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="gatewayApp.armorPiece.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="weight">
            <span jhiTranslate="gatewayApp.armorPiece.weight">Weight</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="quality">
            <span jhiTranslate="gatewayApp.armorPiece.quality">Quality</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="picture">
            <span jhiTranslate="gatewayApp.armorPiece.picture">Picture</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="characterId">
            <span jhiTranslate="gatewayApp.armorPiece.characterId">Character Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="campaignId">
            <span jhiTranslate="gatewayApp.armorPiece.campaignId">Campaign Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="location">
            <span jhiTranslate="gatewayApp.armorPiece.location">Location</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="defenseModifier">
            <span jhiTranslate="gatewayApp.armorPiece.defenseModifier">Defense Modifier</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let armorPiece of armorPieces; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/armor-piece', armorPiece.id, 'view']">{{ armorPiece.id }}</a>
          </td>
          <td>{{ armorPiece.name }}</td>
          <td>{{ armorPiece.description }}</td>
          <td>{{ armorPiece.weight }}</td>
          <td>{{ armorPiece.quality }}</td>
          <td>
            <a *ngIf="armorPiece.picture" (click)="openFile(armorPiece.picture, armorPiece.pictureContentType)">
              <img
                [src]="'data:' + armorPiece.pictureContentType + ';base64,' + armorPiece.picture"
                style="max-height: 30px"
                alt="armorPiece image"
              />
            </a>
            <span *ngIf="armorPiece.picture">{{ armorPiece.pictureContentType }}, {{ byteSize(armorPiece.picture) }}</span>
          </td>
          <td>{{ armorPiece.characterId }}</td>
          <td>{{ armorPiece.campaignId }}</td>
          <td jhiTranslate="{{ 'gatewayApp.ArmorLocation.' + armorPiece.location }}">{{ armorPiece.location }}</td>
          <td>{{ armorPiece.defenseModifier }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/armor-piece', armorPiece.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/armor-piece', armorPiece.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(armorPiece)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="armorPieces && armorPieces.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
