<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-default-skill-or-atribute-heading"
        data-cy="DefaultSkillOrAtributeCreateUpdateHeading"
        jhiTranslate="gatewayApp.defaultSkillOrAtribute.home.createOrEditLabel"
      >
        Create or edit a Default Skill Or Atribute
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.defaultSkillOrAtribute.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.defaultSkillOrAtribute.modifier" for="field_modifier">Modifier</label>
          <input type="number" class="form-control" name="modifier" id="field_modifier" data-cy="modifier" formControlName="modifier" />
          <div *ngIf="editForm.get('modifier')!.invalid && (editForm.get('modifier')!.dirty || editForm.get('modifier')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('modifier')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('modifier')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.defaultSkillOrAtribute.skillId" for="field_skillId">Skill Id</label>
          <select class="form-control" id="field_skillId" data-cy="skillId" name="skillId" formControlName="skillId">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="skillOption.id === editForm.get('skillId')!.value?.id ? editForm.get('skillId')!.value : skillOption"
              *ngFor="let skillOption of skillsSharedCollection; trackBy: trackSkillById"
            >
              {{ skillOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
