<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="campaignUser">
      <h2 data-cy="campaignUserDetailsHeading"><span jhiTranslate="gatewayApp.campaignUser.detail.title">Campaign User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ campaignUser.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.campaignUser.campaign">Campaign</span></dt>
        <dd>
          <div *ngIf="campaignUser.campaign">
            <a [routerLink]="['/campaign', campaignUser.campaign?.id, 'view']">{{ campaignUser.campaign?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.campaignUser.user">User</span></dt>
        <dd>
          <span>{{ campaignUser.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/campaign-user', campaignUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
