<div>
  <h2 id="page-heading" data-cy="XaracterHeading">
    <span jhiTranslate="gatewayApp.xaracter.home.title">Xaracters</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.xaracter.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-xaracter"
        [routerLink]="['/xaracter/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.xaracter.home.createLabel"> Create a new Xaracter </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="xaracters?.length === 0">
    <span jhiTranslate="gatewayApp.xaracter.home.notFound">No xaracters found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="xaracters && xaracters.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="gatewayApp.xaracter.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="weight">
            <span jhiTranslate="gatewayApp.xaracter.weight">Weight</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="height">
            <span jhiTranslate="gatewayApp.xaracter.height">Height</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="points">
            <span jhiTranslate="gatewayApp.xaracter.points">Points</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="picture">
            <span jhiTranslate="gatewayApp.xaracter.picture">Picture</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="handedness">
            <span jhiTranslate="gatewayApp.xaracter.handedness">Handedness</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="campaignId">
            <span jhiTranslate="gatewayApp.xaracter.campaignId">Campaign Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="active">
            <span jhiTranslate="gatewayApp.xaracter.active">Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="gatewayApp.xaracter.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let xaracter of xaracters; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/xaracter', xaracter.id, 'view']">{{ xaracter.id }}</a>
          </td>
          <td>{{ xaracter.name }}</td>
          <td>{{ xaracter.weight }}</td>
          <td>{{ xaracter.height }}</td>
          <td>{{ xaracter.points }}</td>
          <td>
            <a *ngIf="xaracter.picture" (click)="openFile(xaracter.picture, xaracter.pictureContentType)">
              <img
                [src]="'data:' + xaracter.pictureContentType + ';base64,' + xaracter.picture"
                style="max-height: 30px"
                alt="xaracter image"
              />
            </a>
            <span *ngIf="xaracter.picture">{{ xaracter.pictureContentType }}, {{ byteSize(xaracter.picture) }}</span>
          </td>
          <td jhiTranslate="{{ 'gatewayApp.Handedness.' + xaracter.handedness }}">{{ xaracter.handedness }}</td>
          <td>{{ xaracter.campaignId }}</td>
          <td>{{ xaracter.active }}</td>
          <td>
            {{ xaracter.user?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/xaracter', xaracter.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/xaracter', xaracter.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(xaracter)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="xaracters && xaracters.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
