<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="armorPiece">
      <h2 data-cy="armorPieceDetailsHeading"><span jhiTranslate="gatewayApp.armorPiece.detail.title">Armor Piece</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ armorPiece.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.armorPiece.name">Name</span></dt>
        <dd>
          <span>{{ armorPiece.name }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.armorPiece.description">Description</span></dt>
        <dd>
          <span>{{ armorPiece.description }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.armorPiece.weight">Weight</span></dt>
        <dd>
          <span>{{ armorPiece.weight }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.armorPiece.quality">Quality</span></dt>
        <dd>
          <span>{{ armorPiece.quality }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.armorPiece.picture">Picture</span></dt>
        <dd>
          <div *ngIf="armorPiece.picture">
            <a (click)="openFile(armorPiece.picture, armorPiece.pictureContentType)">
              <img
                [src]="'data:' + armorPiece.pictureContentType + ';base64,' + armorPiece.picture"
                style="max-width: 100%"
                alt="armorPiece image"
              />
            </a>
            {{ armorPiece.pictureContentType }}, {{ byteSize(armorPiece.picture) }}
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.armorPiece.location">Location</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayApp.ArmorLocation.' + armorPiece.location }}">{{ armorPiece.location }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.armorPiece.defenseModifier">Defense Modifier</span></dt>
        <dd>
          <span>{{ armorPiece.defenseModifier }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.armorPiece.campaign">Campaign</span></dt>
        <dd>
          <div *ngIf="armorPiece.campaign">
            <a [routerLink]="['/campaign', armorPiece.campaign?.id, 'view']">{{ armorPiece.campaign?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.armorPiece.character">Character</span></dt>
        <dd>
          <div *ngIf="armorPiece.character">
            <a [routerLink]="['/character', armorPiece.character?.id, 'view']">{{ armorPiece.character?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/armor-piece', armorPiece.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
