<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="characterEquippedWeapon">
      <h2 data-cy="characterEquippedWeaponDetailsHeading">
        <span jhiTranslate="gatewayApp.characterEquippedWeapon.detail.title">Character Equipped Weapon</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ characterEquippedWeapon.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.characterEquippedWeapon.characterId">Character Id</span></dt>
        <dd>
          <span>{{ characterEquippedWeapon.characterId }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.characterEquippedWeapon.hand">Hand</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayApp.Handedness.' + characterEquippedWeapon.hand }}">{{ characterEquippedWeapon.hand }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.characterEquippedWeapon.weapon">Weapon</span></dt>
        <dd>
          <div *ngIf="characterEquippedWeapon.weapon">
            <a [routerLink]="['/weapon', characterEquippedWeapon.weapon?.id, 'view']">{{ characterEquippedWeapon.weapon?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/character-equipped-weapon', characterEquippedWeapon.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
