<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="xaracter">
      <h2 data-cy="xaracterDetailsHeading"><span jhiTranslate="gatewayApp.xaracter.detail.title">Xaracter</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ xaracter.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracter.name">Name</span></dt>
        <dd>
          <span>{{ xaracter.name }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracter.weight">Weight</span></dt>
        <dd>
          <span>{{ xaracter.weight }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracter.height">Height</span></dt>
        <dd>
          <span>{{ xaracter.height }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracter.points">Points</span></dt>
        <dd>
          <span>{{ xaracter.points }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracter.picture">Picture</span></dt>
        <dd>
          <div *ngIf="xaracter.picture">
            <a (click)="openFile(xaracter.picture, xaracter.pictureContentType)">
              <img
                [src]="'data:' + xaracter.pictureContentType + ';base64,' + xaracter.picture"
                style="max-width: 100%"
                alt="xaracter image"
              />
            </a>
            {{ xaracter.pictureContentType }}, {{ byteSize(xaracter.picture) }}
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracter.handedness">Handedness</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayApp.Handedness.' + xaracter.handedness }}">{{ xaracter.handedness }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracter.campaignId">Campaign Id</span></dt>
        <dd>
          <span>{{ xaracter.campaignId }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracter.active">Active</span></dt>
        <dd>
          <span>{{ xaracter.active }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracter.user">User</span></dt>
        <dd>
          <span>{{ xaracter.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/xaracter', xaracter.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
