<div>
  <h2 id="page-heading" data-cy="WeaponHeading">
    <span jhiTranslate="gatewayApp.weapon.home.title">Weapons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.weapon.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-weapon"
        [routerLink]="['/weapon/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.weapon.home.createLabel"> Create a new Weapon </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="weapons?.length === 0">
    <span jhiTranslate="gatewayApp.weapon.home.notFound">No weapons found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="weapons && weapons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="reach"><span jhiTranslate="gatewayApp.weapon.reach">Reach</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="baseDamage">
            <span jhiTranslate="gatewayApp.weapon.baseDamage">Base Damage</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="requiredST">
            <span jhiTranslate="gatewayApp.weapon.requiredST">Required ST</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="damageModifier">
            <span jhiTranslate="gatewayApp.weapon.damageModifier">Damage Modifier</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let weapon of weapons; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/weapon', weapon.id, 'view']">{{ weapon.id }}</a>
          </td>
          <td>{{ weapon.reach }}</td>
          <td>{{ weapon.baseDamage }}</td>
          <td>{{ weapon.requiredST }}</td>
          <td>{{ weapon.damageModifier }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/weapon', weapon.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/weapon', weapon.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(weapon)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="weapons && weapons.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
