<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="xaracterAttribute">
      <h2 data-cy="xaracterAttributeDetailsHeading">
        <span jhiTranslate="gatewayApp.xaracterAttribute.detail.title">Xaracter Attribute</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ xaracterAttribute.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracterAttribute.name">Name</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayApp.AttributeName.' + xaracterAttribute.name }}">{{ xaracterAttribute.name }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracterAttribute.points">Points</span></dt>
        <dd>
          <span>{{ xaracterAttribute.points }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracterAttribute.attributeModifier">Attribute Modifier</span></dt>
        <dd>
          <span>{{ xaracterAttribute.attributeModifier }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracterAttribute.xaracterId">Xaracter Id</span></dt>
        <dd>
          <div *ngIf="xaracterAttribute.xaracterId">
            <a [routerLink]="['/xaracter', xaracterAttribute.xaracterId?.id, 'view']">{{ xaracterAttribute.xaracterId?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/xaracter-attribute', xaracterAttribute.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
