<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="xaracterEquippedArmor">
      <h2 data-cy="xaracterEquippedArmorDetailsHeading">
        <span jhiTranslate="gatewayApp.xaracterEquippedArmor.detail.title">Xaracter Equipped Armor</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ xaracterEquippedArmor.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracterEquippedArmor.xaracterId">Xaracter Id</span></dt>
        <dd>
          <span>{{ xaracterEquippedArmor.xaracterId }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.xaracterEquippedArmor.armorPiece">Armor Piece</span></dt>
        <dd>
          <div *ngIf="xaracterEquippedArmor.armorPiece">
            <a [routerLink]="['/armor-piece', xaracterEquippedArmor.armorPiece?.id, 'view']">{{ xaracterEquippedArmor.armorPiece?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/xaracter-equipped-armor', xaracterEquippedArmor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
